<!DOCTYPE html>
<html>
  <head>
    <title>Pirates!</title>
  </head>
  <body>
    
    <h1>New Pirate</h1>
    <p><%= @pirate.name %></p>
    <p><%= @pirate.height %></p>
    <p><%= @pirate.weight %></p>

    <h2>Ships</h2>
    <p><% @ships.each do |ship| %>
      <%= ship.name %>
      <%= ship.type %>
      <%= ship.booty %>
    <% end %></p>
  </body>
</html>
